doctype html
html
	head
		title #{titulo}
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="main.css")
	body
		main
			h1 #{titulo}
			figure 
				img(src=imagen width=250)
				figcaption #{texto}
			ul
				each avion in aviones
					li 
						a(href="avion/" + avion.modelo) #{avion.modelo} &nbsp; | &nbsp;
			